.CST_fullHeight {
  height: 100vh;
}

.CST_frame {
  border: 2px solid #222;
  margin: 2rem 1rem;
  padding: 2rem;
}

.is-danger.CST_frame {
  border: none;
}

.CST_is-opposed {
  justify-content: space-between;
}

.buttons.CST_is-opposed {
  justify-content: space-between;
}

.CST_is-monoline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

.CST_is-counter {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin: auto;
}

.CST_is-open {
  color: green;
}

.CST_is-closed {
  color: crimson;
}

.CST_titleThrough {
  margin-top: -4rem;
  background-color: #fff;
}

.CST_clickable {
  cursor: pointer;
}

.CST_clickable:hover {
  color: #118fe4;
  background-color: #fff;
}

.CST_biz-card {
  width: 300px;
  margin: 20px;
}

.CST_detach {
  margin: 0 1rem;
}

.CST_spaced {
  margin: 1rem 0;
}

.placeholder {
  height: 200px;
}

.CST_hover-list {
  position: absolute;
  background-color: #333;
  margin-left: 20px;
  color: #fff;
  padding: 0.5rem;
  width: 300px;
  z-index: 100;
}

@media (max-width: 767px) {
  .CST_frame {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}
