.CST_fullHeight {
  height: 100vh;
}

.CST_frame {
  border: 2px solid #222;
  margin: 2rem 1rem;
  padding: 2rem;
}

.is-danger.CST_frame {
  border: none;
}

.CST_titleThrough {
  margin-top: -4rem;
  background-color: #fff;
}

.buttons.CST_is-opposed {
  justify-content: space-between;
}

@media (max-width: 767px) {
  .CST_frame {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}
